<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <Console name="BenchmarkConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %msg%n}{INFO=green blink}"/>
    </Console>
  </appenders>
  <loggers>
    <logger name="scife.enumeration.memoization" level="off" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.member.memoization" level="off" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.iterable" level="off" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.iterable.lzy.ChainFiniteSingleCombine" level="off" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.iterable.lzy.ConcatFiniteVariedSize" level="off" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.parallel" level="all" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.benchmarks.test.parallel" level="off" additivity="false">
      <appender-ref ref="Console" />
    </logger>
    <logger name="scife.enumeration.benchmarks" level="off" additivity="false">
      <appender-ref ref="BenchmarkConsole" />
    </logger>
    <root level="error">
      <appender-ref ref="Console" />
    </root>
  </loggers>
</configuration>
